.title {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: rgb(253, 32, 16);
}

.container {
  margin: 30px;
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
  flex: 2;
  border: 10px solid rgba(248, 70, 215, 0.2);
}
